@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
  padding: 0;
  font-family: "Fredoka", sans-serif;
  margin: 0;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  transition: .5s linear 0s;
  color: #000000;
}
::-webkit-scrollbar {
  width: 0px; /* Width of scrollbar */
}
/* color syntax */
:root {
  --faintBlue: #ADBBDA5E;
  --borderLineWidth: 1px;
  --borderRadius: 10px;
  --dimBlue: #4F2FE8FC;
  --lightBlue: #7091E6;
  --darkBlue: #8697CA;
  --faintBlack: #6B6B6B;
  --pageBackgroundColor: #EDE8F5;
  --paddingSmall: 10px;
  --paddingBig: 20px;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  background-image: url("/img/young-woman-exercising-with-her-headphones_23-2149127341.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  place-items: center;
}
.background{
  background: #00000059;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
main {

  width: 85%;
  height: auto;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px #0000002B;
}

header {
  position: fixed;
  top: 2rem;
  color: white;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2rem;
  font-weight: 600;
}

.loginImg img {
  width: 9rem;
}

.header {
  color: white;
  display: flex;
  font-weight: 600;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

form div {
  background: white;
  padding: 18px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  gap: 15px;
}

form div input {
  width: 100%;
  outline: none;
  border: none;

}

form div i {
  color: var(--dimBlue);
}
form div span{
  background: var(--dimBlue);
  width: 1px;
  height: 1.5rem;
}
button {
  padding: 18px;
  border: none;
  background: var(--dimBlue);
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
}

.loginLink {
  font-size: 12px;
  color: white;
  display: flex;
}

a {
  font-style: italic;
  color: blue;

}
@media (min-width:768px) {
  main {
    width: 70%;
  }

  form {
    gap: 20px;
  }
}