@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
  padding: 0;
  font-family: "Fredoka", sans-serif;
  margin: 0;
  font-optical-sizing: auto;
  font-style: normal;
  list-style: none;
  font-variation-settings:
    "wdth" 100;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  transition: .3s ease 0s;
  text-decoration: none;
  color: #000000;
}
::-webkit-scrollbar {
  width: 0px; /* Width of scrollbar */
}
/* color syntax */
:root {
  --faintBlue: #adbbda5e;
  --borderLineWidth: 1px;
  --borderRadius: 10px;
  --dimBlue: #4f2fe8fc;
  --lightBlue: #7091e6;
  --darkBlue: #8697ca;
  --headerBackground: #262736;
  --faintBlack: #6b6b6b;
  --pageBackgroundColor: #EDE8F5;
  --dimColor: #3c3e5a;
  --paddingSmall: 10px;
  --paddingBig: 20px;
}
body{
  background: var(--dimColor);
}
header, .feedbackHeader{
  width: 100%;
  background: var(--headerBackground);
  padding: var(--paddingBig);
  display: flex;
  position: relative;
  color: white;
  justify-content: center;
  font-weight:500;
}
header *{
  color: white;
}

header i, .feedbackHeader  i{
  position: absolute;
  left: 20px;
  cursor: pointer;
}
.settingsTab{
  padding: 10px;
}
.settingsTab div{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.settingsTab div a{
  cursor: pointer;
  padding: 20px 10px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: floralwhite;
}
.settingsTab div a i{
  color: #6B6B6B;
  font-size: 12px;
}
.copyright{
  position: fixed;
  bottom:0 ;
  width: 100%;
  display: grid;
  padding: var(--paddingSmall);
  font-size: 12px;
  place-items: center;
}
.copyright div{
  text-align: center;
}
.copyright div p{
  color: #A2A2A287;
}
